.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}
.btn-toolbar {
    padding: 10px;
}
caption {
    caption-side: top;
}
.body-content {
    padding: 20px 30px;
}