@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()
        <div class="btn-group bg-warning" role="group" aria-label="Авторизация">
            <button type="button" class="btn bg-warning">@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</button>
            <button type="button" class="btn bg-warning"><a href="javascript:document.getElementById('logoutForm').submit()">Шығу</a></button>
        </div>
    }
}
else
{
    <div class="btn-group bg-warning" role="group" aria-label="Авторизация">
        <button type="button" class="btn bg-warning">@Html.ActionLink("Тіркелу", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
        <button type="button" class="btn bg-warning">@Html.ActionLink("Кіру", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
    </div>
}
