<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://:8172/MsDeploy.axd?site=nurlandoskara-001-site1</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nurlandoskara-001-site1.dtempurl.com</MSDeployServiceURL>
    <DeployIisAppPath>nurlandoskara-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\nurlandoskara-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=SQL6004.site4now.net;Initial Catalog=DB_A45ADA_Schedule;User ID=DB_A45ADA_Schedule_admin;Password=65hosevo" Name="Data Source=SQL6004.site4now.net;Initial Catalog=DB_A45ADA_Schedule;User Id=DB_A45ADA_Schedule_admin;Password=65hosevo;MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SchoolSchedule.Models.ApplicationDbContext, SchoolSchedule" MigrationConfiguration="SchoolSchedule.Migrations.Configuration, SchoolSchedule" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=SQL6004.site4now.net;Initial Catalog=DB_A45ADA_Schedule;User Id=DB_A45ADA_Schedule_admin;Password=65hosevo;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=SQL6004.site4now.net;Initial Catalog=DB_A45ADA_SchoolSchedule;User Id=DB_A45ADA_SchoolSchedule_admin;Password=65hosevo;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>